{% if latest_poll_list %}
    <ul>
    {% for patient in latest_poll_list %}
        <li><a href="/rovings/{{ patient.id }}/">{{ patient.ptname }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Patients are available.</p>
{% endif %}



<!form action="/ptname/" method="post">
    {% csrf_token %}
    {{ form }}
    <!input type="submit" value="Submit" />
<!/form>

<!form action="" method="get">
        <!input type="text" name="q">
        <!input type="submit" value="Search">
<!/form>